/* byos = Build your own stack */

.byos-container {
  display: flex;             
  flex-direction: row;       
  align-items: center;       
  justify-content: center;   
  width: 1200px;
  height: 500px;
  background: linear-gradient(to bottom, #ffc885, #a78234);
  border-radius: 25px;
  margin: auto;
  margin-top: 250px;
  position: relative;      
  overflow: hidden;    
  margin-bottom: 200px;   
  scroll-margin-top: 200px   
}

.byos-container .byos-image {
  border-radius: 25px;
  width: 700px;
  height: 100%;
  object-fit: cover;
}


.byos-container .byos-text-container {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.byos-text-container .t1 {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  font-family: fantasy;
}

.byos-text-container .t2{
  margin-top: 55px;
  font-size: 25;
  font-family: fantasy;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.byos-text-container .t3{
  margin-top: 10px;
  font-size: 40;
  font-family: fantasy;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}

.byos-text-container .get-started-button-container {
  width: 250px;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
  border-color: white;
  border-style: solid;
  background-color: transparent;
  transition: background-color 0.5s ease;
  border-width: 3px;
}

.get-started-button-container:hover {
  background-color: plum;
}