.top-box {
  width: 100%;
  background-color: rgb(161, 76, 23);
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.top-box .top-row-text {
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
}

.top-links{
  display: flex;          
  flex-direction: row;    
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}

.top-links-item {
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
}

.top-links-item:hover{
    text-decoration: underline;
}

.account-container{
  width: 300px;
  position: absolute;
  right: 20px;
  top: 50px;
  border-style: dashed;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.account-container img{
  width: 100px;
  height: auto;
  align-items: center;
  cursor: pointer;
}

.account-drop-down {
  display: none;
  width: 300px;
  height: 380px;
  margin-top: 20px;
  background-color: rgb(218, 218, 218);
}

.account-drop-down.active{
  display: block;
}