body{
    background-color: #ffe1a8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.login-container{
    width: 35%;
    height: auto;
    border-color: black;
    align-items: center;
    background-color: beige;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.title{
    font-weight: bold;
    font-size: 62px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.username-container {
    position: relative;
    width: 100%;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    margin-top: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.username-container input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding: 0 12px;
}

.login-text {
    position: absolute;
    left: 12px;
    top: -10px;
    background: white;
    padding: 0 5px;
    font-size: 12px;
}


.username-container:hover{
    cursor: text;
    background-color: white;
    transform: scale(1.03);
    border-color: gray;
    border-width: 1px;
}

.login-text{
    color: gray;
    margin-top: -7px;
    font-size: medium;
    opacity: 0.8;
    background-color: transparent;
}

.login-button{
    background-color: transparent;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    margin-top: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.1
}

.login-button:hover{
    cursor: pointer;
    background-color: rgb(246, 179, 254);
    transform: scale(1.05);
    border-color: gray;
    border-width: 0px;
    color: white
}

.back-to-home-container{
    width:500px;
    height:100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;       
    text-decoration: none;
    color: inherit;  
}

.back-to-home-container:hover{
    cursor:pointer
}

.bth-text{
    font-weight: lighter;
    font-size: 50px;
    display: flex;
    align-items: center;
}

.flash-message-container{
    position: fixed;
    width:40%;
    height:50px;
    margin-top: 5%;
    top: 0;
    border-radius: 10px;
    background-color: rgb(255, 89, 89);
    z-index: 10000;
}

.flash-message{
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.bg-image {
  position: fixed;
  inset: 0;
  background: url("/static/images/login.jpg") center/cover no-repeat;
  z-index: 0;
}

.bg-image::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(6px);
  background: rgba(0,0,0,0.3);
}