body{
 background: #ffe1a8;
 display: flex;
 flex-direction: column;
}

.top-container{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container{
    width: 100%;
    height: 75vh;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.sub-container {
    width: 45%;
    height: 75vh;
    background-color: rgb(214, 214, 214);
    margin-left: 3.5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.sub-content-container {
    width: 95%;
    flex: 1;
    margin-bottom: 20px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
    overflow-y: auto;
    min-height: 0;
}

.top-row {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-bottom: 10px;
}

.top-row-text{
    padding: 10px;
    color: white
}

.user-row {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.top-row,
.user-row {
    display: grid;
    grid-template-columns: 50px 1.2fr 1fr 200px;
    align-items: center;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.button {
    min-width: 120px;
    min-height: 40px;
    padding: 10px 20px;

    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.02)
}

.back-to-home-container{
    width:500px;
    height:100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.back-to-home-container:hover{
    cursor:pointer
}

.bth-text{
    font-weight: lighter;
    font-size: 50px;
    display: flex;
    align-items: center;
}

.modal {
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    inset: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal.open {
    opacity: 1;
    pointer-events: auto;
}

.modal-inner {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-container {
    position: relative;
    width: 60%;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    transition: 0.3s;
}

.username-container input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding: 0 12px;
}

.dual-width-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.smaller-container {
    position: relative;
    flex: 1;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.smaller-container input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding: 0 12px;
}

.login-text {
    position: absolute;
    left: 12px;
    top: -10px;
    background: white;
    padding: 0 5px;
    font-size: 12px;
}

.username-container:hover,
.smaller-container:hover {
    cursor: text;
    background-color: white;
    transform: scale(1.03);
    border-color: gray;
}

.button {
    margin-top: 20px;
    width: 7vw;
    height: 5vh;
    background-color: black;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#drop-zone {
    margin-top: -1px;
}

#file-name {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

a {
    text-decoration: none;
}