<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flippy Pancakes Staff Login</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="/static/css/login.css">
    <!-- <h1>Flippy Pancakes Staff Login</h1> -->

    <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %} -->

    <!-- <form method="post" action="/login">
        <label for="username">username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>
       
        <button type="submit">Login</button>
    </form> -->

    <a href="{{ url_for('index') }}" class="back-to-home-container">
        <img src="{{ url_for('static', filename='images/arrow-left.png') }}">
        <div class="bth-text">Back to Home</div>
    </a>



    <div class="login-container">
        <div class="title">Flippy Pancakes Login</div>
    
        <form method="post" action="/login">
        
            <label class="username-container">
                <input type="text" name="username" required>
                <div class="login-text">Username</div>
            </label>
        
            <div class="username-container">
                <input type="password" name="password" required>
                <div class="login-text">Password</div>
            </div>
        
            <button class="login-button" type="submit">
                <div class="login-button-text">Login</div>
            </button>
        
        </form>
    </div>
    
</body>
</html>