<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message-container">
                    <div class="flash-message">{{ message }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="bg-image"></div>
    <a href="{{ url_for('index') }}" class="back-to-home-container">
        <img src="{{ url_for('static', filename='images/icons/arrow-left.png') }}">
        <div class="bth-text">Back to Home</div>
    </a>

    <div class="login-container">
        <div class="title">Flippy Pancakes Register</div>
    
        <form method="post" action="/register">
        
            <label class="username-container">
                <input type="text" name="username" required>
                <div class="login-text">Username</div>
            </label>
        
            <div class="username-container">
                <input type="password" name="password" required>
                <div class="login-text">Password</div>
            </div>

            <div class="username-container">
                <input type="password" name="confirm_password" required>
                <div class="login-text">Confirm Password</div>
            </div>
        
            <button class="login-button" type="submit">
                <h2>Register</h2>
            </button>
        
        </form>
    </div>
</body>
</html>