<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/staff.css') }}">
</head>
<body>
    <div class="top-container">
        <h1 style="font-size: 48px; font-weight: bolder;">Flippy pancake staff dashboard</h1>

    </div>

    <div class="content-container">
        <div class="sub-container">
            <h1 style="margin-top: 20px; font-size: 32px;">Flippy Staff Users</h1>
            <a href="{{ url_for('staff_register') }}">
                <button class="button" type="submit">
                    <h3 style="color: white;">Add staff</h3>
                </button>               
            </a>
            <h3>Note: Only the first staff registered can remove other staff users</h3>
        <div class="sub-content-container">
            <div class="top-row">
                <div class="top-row-text">ID</div>
                <div class="top-row-text">Name</div>
                <div></div>
            </div>
        
            {% for user in users %}
                <div class="user-row">
                    <div>{{ user[0] }}</div>
                    <div>{{ user[1] }}</div>
                
                    {% if user[0] == first_user_id %}
                        <button class="button" style="background: rgba(0,0,0,0.3);">Cant delete</button>
                    {% else %}
                        <form method="POST" action="/delete_staff">
                            <input type="hidden" name="user_id" value="{{ user[0] }}">
                            <button class="button" type="submit">
                                <h3 style="color: white;">Delete</h3>
                            </button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        </div>

        <div class="sub-container">
            <h1 style="margin-top: 20px; font-size: 32px;">Flippy Product Records</h1>
            <div class="sub-content-container"></div>
        </div>
        
    </div>
</body>
</html>