<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/twind.css') }}">
</head>
<body class="bg-pink-200 h-screen flex flex-col justify-center items-center">
    <div class="w-[50%] h-[50%] bg-black text-white rounded-2xl flex flex-col justify-center items-center font-bold">
        <div class="w[25%] h-[25%] text-5xl">Flippy pancake</div>
        <div class="w[25%]">
            Bought to you with tailwind
        </div>
    </div>
</body>
</html>